<div ng-controller="Our.Iconic.Prevalues.Editor">
    <form class="our-iconic__form" name="packageForm" novalidate>
        <umb-editor-view>
            <umb-editor-header name="model.title" name-locked="true" hide-alias="true" hide-icon="true" hide-description="true">
            </umb-editor-header>
            <umb-editor-container class="form-horizontal">
                <umb-box>
                    <umb-box-content>
                        <umb-control-group label="@iconicConfig_configType">
                            <label><input type="radio" ng-change="changeConfigType('custom')" ng-model="configType" value="custom" /> <localize key="iconicConfig_custom">Custom</localize></label>
                            <label><input type="radio" ng-change="changeConfigType('preconfigured')" ng-model="configType" value="preconfigured" /> <localize key="iconicConfig_preconf">Pre-Configured</localize></label>
                        </umb-control-group>

                        <umb-control-group label="@iconicConfig_selectConfig" ng-show="configType == 'preconfigured'">
                            <select ng-model="selectedPreConfig" ng-change="selectPreConfig(selectedPreConfig)" ng-options="conf as conf.name for conf in preconfig">
                                <option value=""><localize key="iconicConfig_select_preconf">Select a pre-configuration...</localize></option>
                            </select>
                        </umb-control-group>

                        <umb-control-group label="@iconicConfig_name" required="true">
                            <input class="umb-property-editor" name="editName" type="text" ng-model="model.package.name" val-highlight="{{ packageForm.editName.$invalid && packageForm.editName.$dirty}}" required />
                            <span ng-messages="packageForm.editName.$error" show-validation-on-submit>
                                <span class="help-inline" ng-message="required"><localize key="iconicValidation_name">Please enter a name</localize></span>
                            </span>
                        </umb-control-group>
                        <umb-control-group label="@iconicConfig_template" description="@iconicConfig_templateDescription" required="true">
                            <input class="umb-property-editor" name="editTemplate" type="text" ng-model="model.package.template" val-highlight="{{ packageForm.editTemplate.$invalid && packageForm.editTemplate.$dirty}}" required />
                            <span ng-messages="packageForm.editTemplate.$error" show-validation-on-submit>
                                <span class="help-inline" ng-message="required"><localize key="iconicValidation_name">Please enter a template</localize></span>
                            </span>
                        </umb-control-group>
                   

                        <umb-control-group label="Enter a backoffice template" description="@iconicConfig_backofficeTemplateDescription">
                            <input class="umb-property-editor" name="editBackofficeTemplate" type="text" ng-model="model.package.backofficeTemplate" val-highlight="{{ packageForm.editBackofficeTemplate.$invalid }}" />
                        </umb-control-group>


                        <umb-control-group label="@iconicConfig_cssFile" description="@iconicConfig_cssFileDescription" required="true">
                            <div class="flex">
                                <label class="control-label">File Path: </label>
                                <input type="text" class="umb-property-editor" name="editCssFile" required ng-model="model.package.cssfile" placeholder="Enter partial or absolute URL, or select from the filesystem." />

                                <umb-button action="openCssFilePicker(model.package.cssfile)" label="Select" type="button"></umb-button>
                            </div>

                            <span ng-messages="packageForm.editCssFile.$error" show-validation-on-submit>
                                <span class="help-inline" ng-message="required"><localize key="iconicValidation_css">Please select a CSS file</localize></span>
                            </span>
                        </umb-control-group>

                        <fieldset>
                            <legend>
                                <localize key="iconicConfig_icons">Icons</localize>
                            </legend>


                            <umb-control-group label="@iconicConfig_selector" description="@iconicConfig_selectorDescription" required="true">
                                <input class="umb-property-editor" name="editSelector" type="text" ng-model="model.package.selector" val-highlight="{{ packageForm.editSelector.$invalid && packageForm.editSelector.$dirty}}" required />
                                <span ng-messages="packageForm.editSelector.$error" show-validation-on-submit>
                                    <span class="help-inline" ng-message="required"><localize key="iconicValidation_selector">Please enter a selector</localize></span>
                                </span>
                            </umb-control-group>


                            <umb-control-group label="@iconicConfig_rulesFile" description="@iconicConfig_rulesFileDescription">

                                <div class="flex">
                                    <label class="control-label">File Path: </label>
                                    <input type="text" class="umb-property-editor" name="editSourceFile" required ng-model="model.package.sourcefile" placeholder="Enter partial or absolute URL, or select from the filesystem." />

                                    <umb-button action="openRulesFilePicker()" label="Select" type="button"></umb-button>

                                </div>

                                <span ng-messages="packageForm.editSourceFile.$error" show-validation-on-submit>
                                    <span class="help-inline" ng-message="required"><localize key="iconicValidation_rules">Please select a valid CSS file</localize></span>
                                </span>
                            </umb-control-group>

                        </fieldset>

                        <fieldset class="filters">
                            <legend>
                                <localize key="iconicConfig_filtering">Filter</localize>
                                <small>Use it to make available just specific icons, instead of the whole set. Leave blank to make all icons available.</small>
                            </legend>
                            <div ng-show="packageForm.$valid" class="flex our-iconic__container">
                                <div ng-repeat="filteredIcon in model.package.filteredIcons">
                                    <div class="umb-panel-header-icon -placeholder" title="{{filteredIcon}}">
                                        <iconic-icon package="model.package" icon="filteredIcon">
                                        </iconic-icon>
                                    </div>
                                    <button ng-click="removeFilteredIcon($index)" class="button-remove" prevent-default>
                                        <localize key="general_remove" class="ng-isolate-scope">Remove</localize>
                                    </umb-button>
                                </div>

                                <div class="umb-panel-header-icon" ng-click="openFilterIconsOverlay()">
                                    <localize key="general_add" class="ng-isolate-scope" style="font-size: 1rem;">Add</localize>
                                    <iconic-icon></iconic-icon>
                                </div>
                            </div>
                            <div ng-hide="packageForm.$valid">
                                <p>Package configuration is not valid.</p>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>
                                <localize key="iconicConfig_preview">Preview</localize>
                            </legend>
                            <div class="our-iconic__container preview flex" ng-show="packageForm.$valid">
                                <div class="umb-panel-header-icon">
                                    <iconic-icon package="model.package" icon="previewIcon">
                                    </iconic-icon>
                                </div>

                                <div>
                                    <div ng-show="packageForm.$valid" class="ml2">
                                        <small><em>{{previewIcon}}</em></small>
                                    </div>
                                    <umb-button action="loadPreview()" state="previewButtonState" label="Reload Preview" class="ml0" type="button" button-style="info" size="xs" disabled="packageForm.$invalid">
                                    </umb-button>
                                </div>
                            </div>
                            <div ng-hide="packageForm.$valid">
                                <p>Package configuration is not valid.</p>
                            </div>
                        </fieldset>
                    </umb-box-content>
                </umb-box>

                <umb-box ng-show="error" class="umb-alert--warning" style="background-color: #f5c1bc;">
                    <umb-box-content>
                        <umb-icon icon="icon-alert"></umb-icon> {{ error }}
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>




            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button action="submit()" type="button" button-style="success" label-key="iconicConfig_save" state="analysing" disabled="packageForm.$invalid">
                    </umb-button>
                    <umb-button action="cancel()" type="button" button-style="link" label-key="iconicConfig_cancel">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>

</div>